.container {
    margin: auto;
    width: 1000px;
    height: 100%;
    background-color: #edf2ef;
}
body {
    margin: 0 0 0 0;
    font-family: Arial;
    font-weight: 700;
    background-color: #ffbf00;
}
.burger__button {
    display: none;
}
.navigation__bar {
    margin: -20px 0 0 0;
    width: 1000px;
    height: 50px;
    position: fixed;
    display: inline;
    background-color: black;
}
.nav__ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 0 0 25%;
}
.nav__ul > li {
    margin: 0 10px 0 0;
}
.nav__ul > li > a {
    color: white;
    text-decoration: none;
}
@media (max-width: 780px) {
    .nav__ul > li > a {
        color: white;
        text-decoration: none;
    }
    .nav__ul {
        list-style: none;
        display: block;
        align-items: center;
        font-size: 40px;
        padding: 0 0 0 10%;
        background-color: black;
        visibility: hidden;
    }
    .burger__button {
        position: absolute;
        margin: 15px 0 0 15px;
        width: 30px;
        height: 20px;
        background-color: #101010;
        z-index: 2;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        display: flex;
    }
    .burger__button > div {
        margin: 8px -4px 0 0;
        height: 4px;
        background-color: white;
        width: 30px;
    }
}
.my__img {
    float: right;
    height: 400px;
    width: 400px;
    margin: 40px 40px 0 0;
    border: solid black 8px; 
    border-radius: 50px;
}
.photo__box {
    float: right;
    height: 500px;
    width: 500px;
    background-color: black;
}
.greeting {
    float: left;
    height: 500px;
    width: 500px;
    background-color: black;
}
.greeting > header >h1 {
    margin: 30% 0 0 0;
    color: black;
    background-color: #edf2ef;
    font-size: 54px;
}
h2 {
    margin: 20px 20px 20px 20px;
    color: white;
    background-color: black;
    width: 200px;
}
.pre {
    height: 200px;
    background-color: black;
}
.code {
    width: 1000px;
    color: white;
    font-size: 14px;
}
.footer {
    height: 150px;
    width: 1000px;
    background-color: orange;
    text-align: center;
}
.rsschool > a > img {
    margin: 10px 0 0 70px;
    height: 100px;
    width: 100px;
}
.github > a > img {
    margin: 10px 70px 0 0;
    height: 100px;
    width: 100px;
}
.rsschool {
    float: left;
}
.github {
    float: right;
}
.paragraph {
    margin: 30px 20px 0 20px;
}
figure {
    margin: 0 0 0 0; 
}